<div class="container">
  <!-- Invocacion del medidor de temperatura y humedad actual-->
    <app-medidor-humedad></app-medidor-humedad>
  </div>
  <!-- Contenido de la pamtalla de inicio-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 card text-dark bg-light mb-3">
          <div class="row g-0 d-flex">
            <div class="col-4">
              <img
                class="img-fluid h-100"
                src="../../assets/1x/ESP32.jpg"
                alt="..."
                width="100"
                height="300px"
              />
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Sistema Embebido</h5>
                <p class="card-text">
                  Se creó un sistema embebido que realiza las tareas de sensado y
                  envío de porcentaje de temperatura y humedad dentro del
                  microtúnel
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 card text-dark bg-light mb-3">
          <div class="row g-0 d-flex">
            <div class="col-4">
              <img
                class="img-fluid h-100"
                src="../../assets/1x/Router.png"
                alt="..."
                width="184"
              />
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Wi-Fi</h5>
                <p class="card-text">
                  Uso de conexiones inalámbricas para el envío de datos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3 card text-dark bg-light mb-3">
          <div class="row g-0 d-flex">
            <div class="col-4">
              <img
                class="img-fluid h-100"
                src="../../assets/1x/Grafico.png"
                alt="..."
                width="300"
                height="300px"
              />
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Graficos</h5>
                <p class="card-text">
                  La aplicación obtiene los datos de internet y los muestra en una
                  gráfica lo que facilita el entendimiento de los datos generados
                  por el sistema embebido
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3 card text-dark bg-light mb-3">
          <div class="row g-0 d-flex">
            <div class="col-4">
              <img
                class="img-fluid h-100"
                src="../../assets/1x/Tabla.png"
                alt="..."
                width="184"
              />
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Tablas</h5>
                <p class="card-text">
                  Tablas que muestran el historial de temperatura, humedad, fecha
                  y hora en el microtúnel.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  