<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Acerca del proyecto</h5>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Redes</h5>
        <ul class="list-unstyled">
          <li>
            <img src="./assets/facebook.svg">
            <a href="#!">Facebook</a>
          </li>
          <li>
            <img src="./assets/twitter.svg">
            <a href="#!">Twitter</a>
          </li>
          <li>
            <img src="./assets/mail.svg">
            <a href="#!">Gmail</a>
          </li>
          <li>
            <img src="./assets/patch-check-fill.svg">
            <a href="#!">Sitio oficial UTGZ</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Otros</h5>

        <ul class="list-unstyled">
          <li>
            <img src="./assets/telephone.svg">
            <a href="#!">Tel UAA +52 226 316 1909</a>
          </li>
          <li>
            <img src="./assets/telephone.svg">
            <a href="#!">Tel UTGZ +52 000 000 0000</a>
          </li>
          <li>
            <img src="./assets/whatsapp.svg">
            <a href="#!">Whatsapp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> UTGZ</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->