<br>
<div class="card">
    <div class="card-header">
        Notificaciones
    </div>
    <br><br>
    <ul class="list-group">
        <li class="list-group-item">Planca 1 detecta un 20% humedad</li>
        <li class="list-group-item">Planca 2 detecta un 19% de humedad</li>
        <li class="list-group-item">Planca 3 detecta un 15% humedad</li>
        <li class="list-group-item">Planca 10 detecta un 50% de humedad</li>
        <li class="list-group-item">Planca 9 detecta un 49% de humedad</li>

    </ul>
</div>