<!-- componente para espera de validacion de correo-->
<div id="login" class="card text-center">
    <h2><span class="fontawesome-lock"></span>Verificación</h2>
    <form >
        <fieldset>
            <div class="form-group text-center" >
                <h4>Revisa tu correo y da clic en el enlace que recibiste para proceder</h4>
                <img src="./assets/Gmail1.png" width="200px">
              </div>
              
        </fieldset>
        <!-- Navegacion a gmail-->
        <a class="btn btn btn-success" href="https://mail.google.com/mail/u/0/" target="blank"> <img src="./assets/Gmail1.png" width="18px"></a>
        <!-- navegacion a logeo-->
        <a class="btn btn btn-success" routerLink="/logeo">Regresar a login</a>
        <br>
        <br>
        <p></p>
    </form>
  </div>