<!-- Grupo 2  -->
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Estado actual</h5>
      <!-- Invocaion para mustra de los datos actuales-->
      <app-humedad-resumen></app-humedad-resumen>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Electrovalbula</h5>
      <!-- invocacio para muetra del estado actual de la electrovalbula-->
      <app-estado-electro></app-estado-electro>
    </div>
  </div>
</div>
<!-- Grupo 2 grafico de resumen de temperaturas y humedades-->
<div class="row">
  <div class="card-group">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperatura</h5>
          <!-- mperaturas-->
          <app-temperatura-resumen></app-temperatura-resumen>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Humedad</h5>
          <!--Humedades-->
          <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" [options]="chartOptions"
            [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
            style="width: 100%; height: 250px;">
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>